<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>GeoAR.js demo</title>
  <script src='https://cdn.jsdelivr.net/gh/aframevr/aframe@1c2407b26c61958baa93967b5412487cd94b290b/dist/aframe-master.min.js'></script>
  <script src="https://raw.githack.com/jeromeetienne/AR.js/master/aframe/build/aframe-ar.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>

<link rel="stylesheet" href="https://raw.githack.com/jeromeetienne/AR.js/master/aframe/src/location-based/stylesheets/index.css">

<!-- Dynamically add places from Javascript -->

<body style='margin: 0; overflow: hidden;'>

<a-scene
  cursor='rayOrigin: mouse; fuse: true; fuseTimeout: 0;'
  raycaster="objects: [gps-entity-place];"
  vr-mode-ui="enabled: false"
  embedded
  arjs='sourceType: webcam; sourceWidth:1280; sourceHeight:960; displayWidth: 1280; displayHeight: 960; debugUIEnabled: false;'>
  <a-camera gps-camera rotation-reader>
  </a-camera>
  <div id="markers">
    <% @locations.each do |location| %>
      <div class="marker" data-lat="<%= location["geometry"]["location"]["lat"] %>" data-lng="<%= location["geometry"]["location"]["lng"] %>">
        <a-image
          gps-entity-place="latitude: <%= location["geometry"]["location"]["lat"]%>; longitude: <%= location["geometry"]["location"]["lng"] %>"
          src="<%= location["icon"] %>" width="200" height="200">
          <h1><%= location[:name] %></h1>
        </a-image>
        <a-image
          gps-entity-place="latitude: 53.2897763; longitude: -6.6818142"
          src="https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png" 
          width="200" height="200">
        </a-image>
        <a-image
          gps-entity-place="latitude: 53.290966; longitude: -6.686325099999999"
          src="https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png"
          width="200" height="200">
        </a-image>
        <a-image
          gps-entity-place="latitude: 53.28995579999999; longitude: -6.688090499999999"
          src="https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/shopping-71.png"
          width="200" height="200">
        </a-image>
        <a-image
          gps-entity-place="latitude: 53.2905391; longitude: -6.686225399999999"
          src="https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/shopping-71.png"
          width="200" height="200">
        </a-image>
        <a-image
          gps-entity-place="latitude: 53.28995579999999; longitude: -6.688090499999999"
          src="https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png"
          width="200" height="200">
        </a-image>
      </div>
    <%end%>
  </div>
</a-scene>

</body>
<script src="javascript/places.js"></script>
</html>
